img{
    border: solid black 0.5px;
    margin: 10px;
    padding: 10px;

}

.navbar-dark{
    background-color: rgb(248, 245, 245);
}

li{
    margin:5%;
}
.content1{
    margin: auto;
}
.jumbotron{
    margin-top: 30px;
    background: rgba(231, 35, 205, 0.507);
}

.navbar-toggler-icon{
    background: gray;
}